* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

#navegador {
  position: fixed;
  width: 100vw;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 3px #999;
  z-index: 9999;
}
#navegador .container {
  height: 80px;
  max-width: 1100px;
  margin: auto;
  position: relative;
  transition: all 0.5s;
}
#navegador .container .logo {
  position: absolute;
  left: 0;
  top: 12.5px;
  max-height: 55px;
  width: auto;
}
#navegador .container .toggle {
  position: absolute;
  right: 0;
  top: 22.5px;
  padding: 5px;
  cursor: pointer;
}
#navegador .container .toggle .uno, #navegador .container .toggle .dos, #navegador .container .toggle .tres {
  height: 3px;
  width: 30px;
  margin: 4px 0;
  background-color: #333;
  transition: all 0.5s;
}
#navegador .container .menu {
  list-style: none;
  position: absolute;
  bottom: 10px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 0px;
  opacity: 0;
  visibility: 0;
  transition: all 0.4s;
}
#navegador .container .menu .item {
  padding: 0 10px;
}
#navegador .container .menu .item .enlace {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-family: "Alegreya Sans SC", sans-serif;
}
#navegador .desplegado {
  height: 250px;
}
#navegador .desplegado .toggle .dos {
  opacity: 0;
}
#navegador .desplegado .toggle .uno {
  transform: rotate(45deg) translate(4px, 4px);
}
#navegador .desplegado .toggle .tres {
  transform: rotate(-45deg) translate(6px, -5px);
}
#navegador .desplegado .menu {
  visibility: visible;
  opacity: 1;
  height: 170px;
}

#inicio {
  padding-top: 80px;
  height: 100vh;
  background-image: url(img/casa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#inicio .overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
#inicio .presentacion {
  text-align: center;
  padding-bottom: 10vh;
}
#inicio .presentacion h1 {
  color: white;
  font-size: 38px;
  font-weight: 500;
  text-shadow: 2px 2px 4px black;
  max-width: 780px;
  margin-bottom: 20px;
  font-family: "Rubik Mono One", sans-serif;
}
#inicio .presentacion h2 {
  color: white;
  font-size: 27px;
  font-weight: 500;
  margin-bottom: 60px;
  font-family: "Raleway", sans-serif;
}
#inicio .presentacion a {
  color: white;
  border-radius: 4px;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 20px;
  border: 1px solid white;
  transition: all 0.5s;
  font-family: "Raleway", sans-serif;
}
#inicio .presentacion a:hover {
  background-color: #eee;
  color: black;
}

#gualeguaychu {
  text-align: center;
  background: url(img/marmol.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#gualeguaychu .overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(193, 193, 193, 0.5);
  padding-top: 60px;
  padding-bottom: 100px;
}
#gualeguaychu .contenedor {
  max-width: 1100px;
  margin: auto;
}
#gualeguaychu .contenedor .titulo {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #333;
}
#gualeguaychu .contenedor .separador {
  height: 3px;
  width: 40px;
  background-color: red;
  margin: 20px auto 50px auto;
}
#gualeguaychu .contenedor h4 {
  margin-top: 50px;
  font-size: 30px;
  color: #333333;
  font-family: "Dancing Script", cursive;
}
#gualeguaychu .contenedor .cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#gualeguaychu .contenedor .cards-container .card {
  max-width: 340px;
  border-radius: 5px;
  background-color: white;
}
#gualeguaychu .contenedor .cards-container .card .img-container {
  overflow: hidden;
  height: 230px;
  border-radius: 5px 5px 0 0;
}
#gualeguaychu .contenedor .cards-container .card .img-container img {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
}
#gualeguaychu .contenedor .cards-container .card h3 {
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
}
#gualeguaychu .contenedor .cards-container .card p {
  padding: 10px 25px;
  text-align: left;
  font-size: 15px;
  line-height: 24px;
  font-family: "Raleway", sans-serif;
}
#gualeguaychu .contenedor .cards-container .card:hover img {
  transform: scale(1.2);
}

#banner-contacto {
  height: 300px;
  width: 100%;
  background: url(img/puente.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#banner-contacto .overlay {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}
#banner-contacto .overlay a {
  padding: 20px 40px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  background-color: #eee;
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-family: "Alegreya Sans SC", sans-serif;
  transition: all 0.5s;
}
#banner-contacto .overlay a:hover {
  background-color: red;
  color: white;
}

#galeria {
  margin-top: 80px;
}
#galeria .contenedor {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}
#galeria .contenedor .titulo {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #333;
}
#galeria .contenedor .separador {
  height: 3px;
  width: 40px;
  background-color: red;
  margin: 20px auto 50px auto;
}

#nosotros {
  padding: 60px 0;
}
#nosotros .contenedor {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}
#nosotros .contenedor .titulo {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #333;
}
#nosotros .contenedor .separador {
  height: 3px;
  width: 40px;
  background-color: red;
  margin: 20px auto 50px auto;
}
#nosotros .contenedor p {
  text-align: center;
  max-width: 70%;
  margin: 20px auto;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}
#nosotros .contenedor .imagenes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 60px;
}
#nosotros .contenedor .imagenes img {
  height: 260px;
  width: 260px;
  border-radius: 50%;
  transition: all 0.4s;
}
#nosotros .contenedor .imagenes img:hover {
  transform: scale(1.2);
}
#nosotros .contenedor .imagenes p {
  max-width: 100%;
}

#contacto {
  background-color: #111;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 100px;
  position: relative;
}
#contacto .titulo {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #bbb;
}
#contacto .separador {
  height: 3px;
  width: 40px;
  background-color: red;
  margin: 20px auto 50px auto;
}
#contacto .contenedor {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: auto;
}
#contacto .datos {
  padding: 50px 0;
  color: white;
}
#contacto .datos h3 {
  margin-bottom: 35px;
  font-family: "Poppins", sans-serif;
}
#contacto .datos .dato {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}
#contacto .datos .dato img {
  height: 40px;
  width: 40px;
  margin-right: 15px;
  border-radius: 50%;
  border: 1px solid #ff0100;
  padding: 10px;
  transition: all 0.7s;
}
#contacto .datos .dato h4 {
  font-family: "Raleway", sans-serif;
  margin-bottom: 5px;
  font-weight: 500;
}
#contacto .datos .dato p {
  font-family: "Poppins", sans-serif;
  color: #777;
}
#contacto .datos .dato:hover img {
  transform: rotate(360deg);
}
#contacto .mapa {
  width: 60%;
}
#contacto button {
  display: flex;
  align-items: center;
  background-color: green;
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  margin: auto;
  cursor: pointer;
  transition: all 0.5s;
  margin-top: 60px;
}
#contacto button img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
#contacto button:hover {
  background-color: #025702;
}
#contacto .efecto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  transform: translateY(-99%);
  z-index: -1;
}

@media (max-width: 1200px) {
  #navegador .logo {
    margin-left: 30px;
  }
  #navegador .toggle {
    margin-right: 30px;
  }

  #gualeguaychu .cards-container {
    flex-direction: column;
    align-items: center;
  }
  #gualeguaychu .cards-container .card {
    margin-bottom: 40px;
  }

  #contacto .contenedor {
    padding: 0 30px;
  }
}
@media (max-width: 900px) {
  #nosotros {
    padding-top: 60px;
  }

  #contacto .contenedor .mapa {
    width: 70%;
  }
  #contacto .contenedor .mail {
    display: none;
  }
}
@media (max-width: 710px) {
  #inicio .presentacion h1 {
    font-size: 28px;
    padding: 0 15px;
  }
  #inicio .presentacion h2 {
    font-size: 20px;
    padding: 0 15px;
  }

  #nosotros {
    padding-bottom: 0px;
  }
  #nosotros .contenedor p {
    max-width: 90%;
  }
  #nosotros .imagenes {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  #contacto .contenedor {
    flex-direction: column;
    align-items: baseline;
    padding: 0;
  }
  #contacto .contenedor .mapa {
    width: 100%;
  }
  #contacto .contenedor .datos {
    margin-left: 30px;
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
