* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.app {
    width: 100%;
    overflow-x: hidden;
}
#navegador {
    position: fixed;
    width: 100vw;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 3px #999;
    z-index: 9999;
    .container {
        height: 80px;
        max-width: 1100px;
        margin: auto;
        position: relative;
        transition: all 0.5s;
        .logo {
            position: absolute;
            left: 0;
            top: 12.5px;
            max-height: 55px;
            width: auto;
        }
        .toggle {
            position: absolute;
            right: 0;
            top: 22.5px;
            padding: 5px;
            cursor:pointer;
            .uno,.dos,.tres {
                height: 3px;
                width: 30px;
                margin: 4px 0;
                background-color: #333;
                transition: all 0.5s;
            }
        }
        .menu {
            list-style: none;
            position: absolute;
            bottom: 10px;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 0px;
            opacity: 0;
            visibility: 0;
            transition: all 0.4s;
            .item {
                padding: 0 10px;
                .enlace {
                    text-decoration: none;
                    color: #333;
                    font-size: 18px;
                    font-family: 'Alegreya Sans SC', sans-serif;
                }
            }
        }
    }
    //estilos con el navegador desplegado
    .desplegado {
        height: 250px;
        .toggle {
            .dos {opacity: 0;}
            .uno {transform: rotate(45deg) translate(4px,4px);}
            .tres {transform: rotate(-45deg) translate(6px, -5px);}
        }
        .menu {
            visibility: visible;
            opacity: 1;
            height: 170px;
        }
    }
}

#inicio {
    padding-top: 80px;
    height: 100vh;
    background-image: url(img/casa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .overlay {
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.75);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .presentacion {
        text-align: center;
        padding-bottom: 10vh;
        h1 {
            color: white;
            font-size: 38px;
            font-weight: 500;
            text-shadow: 2px 2px 4px black;
            max-width: 780px;
            margin-bottom: 20px;
            font-family: 'Rubik Mono One', sans-serif;
        }
        h2 {
            color: white;
            font-size: 27px;
            font-weight: 500;
            margin-bottom: 60px;
            font-family: 'Raleway', sans-serif;
        }
        a {
            color: white;
            border-radius:4px;
            padding: 10px 15px;
            text-decoration: none;
            font-size: 20px;
            border: 1px solid white;
            transition: all 0.5s;
            font-family: 'Raleway', sans-serif;
        }
        a:hover {
            background-color: #eee;
            color: black;
        }
    }
}

#gualeguaychu {
    text-align: center;
    background: url(img/marmol.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    .overlay {
        height: 100%;
        width: 100%;
        background-color: rgba(193,193,193,0.5);
        padding-top: 60px;
        padding-bottom: 100px;
    }
    .contenedor {
        max-width: 1100px;
        margin: auto;
        .titulo {
            text-align: center;
            font-size: 30px;
            text-transform: uppercase;
            font-family: "Raleway", sans-serif;
            color: #333;
        }
        .separador {
            height: 3px;
            width: 40px;
            background-color: red;
            margin: 20px auto 50px auto;
        }
        h4 {
            margin-top: 50px;
            font-size: 30px;
            color: #333333;
            font-family: 'Dancing Script', cursive;
        }
        .cards-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .card {
                max-width: 340px;
                border-radius: 5px;
                background-color: white;
                .img-container {
                    overflow: hidden;
                    height: 230px;
                    border-radius: 5px 5px 0 0;
                    img {
                        height: 100%;
                        width: 100%;
                        transition: all 0.4s;
                    }
                }
                h3 {
                    margin-top: 10px;
                    font-family: 'Raleway', sans-serif;
                }
                p {
                    padding: 10px 25px;
                    text-align: left;
                    font-size: 15px;
                    line-height: 24px;
                    font-family: 'Raleway', sans-serif;
                }
            }
            .card:hover {
                img {transform: scale(1.2);}
            }
        }
    }
}

#banner-contacto {
    height: 300px;
    width: 100%;
    background: url(img/puente.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .overlay {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,0.8);
        a {
            padding: 20px 40px;
            margin-top: 20px;
            border: none;
            border-radius: 5px;
            font-size: 24px;
            background-color: #eee;
            color: black;
            text-decoration: none;
            cursor: pointer;
            font-family: 'Alegreya Sans SC', sans-serif;
            transition: all 0.5s;
        }
        a:hover {
            background-color: red;
            color: white;
        }
    }
}

#galeria {
    margin-top: 80px;
    .contenedor {
        width: 100%;
        max-width: 1100px;
        margin: auto;
        .titulo {
            text-align: center;
            font-size: 30px;
            text-transform: uppercase;
            font-family: "Raleway", sans-serif;
            color: #333;
        }
        .separador {
            height: 3px;
            width: 40px;
            background-color: red;
            margin: 20px auto 50px auto;
        }
    }
}

#nosotros {
    padding: 60px 0;
    position: relative;
    span {
        top: -70px;
        pointer-events: none;
        position: absolute;
    }
    .contenedor {
        width: 100%;
        max-width: 1100px;
        margin: auto;
        .titulo {
            text-align: center;
            font-size: 30px;
            text-transform: uppercase;
            font-family: "Raleway", sans-serif;
            color: #333;
        }
        .separador {
            height: 3px;
            width: 40px;
            background-color: red;
            margin: 20px auto 50px auto;
        }
        p {
            text-align: center;
            max-width: 70%;
            margin: 20px auto;
            font-family: sans-serif;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
        }
        .imagenes {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-top: 60px;
            img {
                height: 260px;
                width: 260px;
                border-radius: 50%;
                transition: all 0.4s;
            }
            img:hover {
                transform: scale(1.2);
            }
            p {
                max-width: 100%;
            }
        }
    }
}

#contacto {
    background-color: #111;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 100px;
    position: relative;
    span {
        top: -70px;
        pointer-events: none;
        position: absolute;
    }
    .titulo {
        text-align: center;
        font-size: 30px;
        text-transform: uppercase;
        font-family: "Raleway", sans-serif;
        color: #bbb;
    }
    .separador {
        height: 3px;
        width: 40px;
        background-color: red;
        margin: 20px auto 50px auto;
    }
    .contenedor {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1100px;
        margin: auto;
    }
    .datos {
        padding: 50px 0;
        color: white;
        h3 {
            margin-bottom: 35px;
            font-family: "Poppins", sans-serif;
        }
        .dato {
            display: flex;
            align-items: center;
            margin-bottom: 35px;
            img {
                height: 40px;
                width: 40px;
                margin-right: 15px;
                border-radius: 50%;
                border: 1px solid #ff0100;
                padding: 10px;
                transition: all 0.7s;
            }
            h4 {
                font-family: 'Raleway', sans-serif;
                margin-bottom: 5px;
                font-weight: 500;
            }
            p {
                font-family: "Poppins", sans-serif;
                color: #777;
            }
        }
        .dato:hover {
            img {transform: rotate(360deg);}
        }
    }
    .mapa {
        width: 60%;
    }
    button {
        display: flex;
        align-items: center;
        background-color: green;
        padding: 10px 15px;
        border-radius: 6px;
        border: none;
        outline: none;
        color: white;
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        margin: auto;
        cursor: pointer;
        transition: all 0.5s;
        margin-top: 60px;
        img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
    }
    button:hover {
        background-color: rgb(2, 87, 2);
    }
    .efecto {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        transform: translateY(-99%);
        z-index: -1;
    }
}
.reveal-left, .reveal-right, .reveal-mid{
    visibility: hidden;
}

//Responsive 
@media (max-width:1200px) {
    #navegador {
        .logo {
            margin-left: 30px;
        }
        .toggle {
            margin-right: 30px;
        }
    }
    #gualeguaychu {
        .cards-container{
            flex-direction: column;
            align-items: center;
            .card {
                margin-bottom: 40px;
            }
        }
    }
    #contacto {
        .contenedor {
            padding: 0 30px;
        }
    }
}
@media (max-width:900px) {
    #nosotros {
        padding-top: 60px;
    }
    #contacto {
        .contenedor{
            .mapa {
                width: 70%;
            }
            .mail {
                display: none;
            }
        }
    }
}
@media (max-width:710px) {
    #inicio{
        .presentacion {
            h1 {
                font-size: 28px;
                padding: 0 15px;
            }
            h2 {
                font-size: 20px;
                padding: 0 15px;
            }
        }
    }
    #nosotros {
        padding-bottom: 0px;
        .contenedor {
            p {
                max-width: 90%;
            }
        }
        .imagenes {
            flex-direction: column;
        }
    }
}
@media (max-width:600px) {
    #contacto {
        .contenedor {
            flex-direction: column;
            align-items: baseline;
            padding: 0;
            .mapa {
                width: 100%;
            }
            .datos {
                margin-left: 30px;
                padding: 0;
            }
        }
    }
}
